.syed{
    background-color: black !important;
    color: white !important;
    border: 3px solid red !important;
}
.form-check{
    background-color: cyan !important;
    border: 5px solid black !important;
    color: red !important;
}
.syedali{
    background-color: black !important;
    color: white  !important;
    border: 2px solid rgba(69, 69, 255, 0.989) !important;
}
.omerali{
    color: black !important;
    background-color: rebeccapurple !important;

}